In [7]:

import pandas as pd
from models import GameStats, Player, Game, Team  # Make sure to import your actual model classes
from db_config import get_session, get_database_engine
engine = get_database_engine()
session = get_session()



# SQLAlchemy query
query = session.query(GameStats, Player, Game.date, Team.nickname.label("team")).\
    join(Player, GameStats.player_id == Player.id).\
    join(Game, GameStats.game_id == Game.id).\
    join(Team, Player.team_id == Team.id).\
    filter(Game.season_type == 'Playoffs')

# Convert the query to a DataFrame
df = pd.read_sql(query.statement, engine)

# Optionally, display the DataFrame
print(df)

# Close the session
session.close()

        id  player_id   game_id  points  assists  rebounds  steals  blocks  \
0    26514         22  42300104       7        0         3       0       0
1    26515         22  42300103      18        2         5       1       2
2    26516         22  42300102       6        4         8       3       2
3    26517         22  42300101      18        1         4       1       2
4    26478         22  42300104       7        0         3       0       0
..     ...        ...       ...     ...      ...       ...     ...     ...
626  27157        284  42300115       6        4         7       1       1
627  27158        284  42300114       8        2         4       1       0
628  27159        284  42300113      14        1         4       0       0
629  27160        284  42300112      14        4         8       0       3
630  27161        284  42300111       6        3         7       0       2

     turnovers  fouls  ...  weight  birth_date  age  experience  \
0            0      1  ...   240.0  1995-08-02   28           7
1            0      3  ...   240.0  1995-08-02   28           7
2            2      3  ...   240.0  1995-08-02   28           7
3            2      3  ...   240.0  1995-08-02   28           7
4            0      1  ...   240.0  1995-08-02   28           7
..         ...    ...  ...     ...         ...  ...         ...
626          2      3  ...   250.0  1998-05-05   26           5
627          3      5  ...   250.0  1998-05-05   26           5
628          0      5  ...   250.0  1998-05-05   26           5
629          2      4  ...   250.0  1998-05-05   26           5
630          0      3  ...   250.0  1998-05-05   26           5

              school  player_id_1                 how_acquired     team_id  \
0    Cajasol Sevilla       204001  Traded from WAS on 06/23/23  1610612738
1    Cajasol Sevilla       204001  Traded from WAS on 06/23/23  1610612738
2    Cajasol Sevilla       204001  Traded from WAS on 06/23/23  1610612738
3    Cajasol Sevilla       204001  Traded from WAS on 06/23/23  1610612738
4    Cajasol Sevilla       204001  Traded from WAS on 06/23/23  1610612738
..               ...          ...                          ...         ...
626         Zalgiris      1628392           Signed on 07/12/22  1610612752
627         Zalgiris      1628392           Signed on 07/12/22  1610612752
628         Zalgiris      1628392           Signed on 07/12/22  1610612752
629         Zalgiris      1628392           Signed on 07/12/22  1610612752
630         Zalgiris      1628392           Signed on 07/12/22  1610612752

           date     team
0    2024-04-29  Celtics
1    2024-04-27  Celtics
2    2024-04-24  Celtics
3    2024-04-21  Celtics
4    2024-04-29  Celtics
..          ...      ...
626  2024-04-30   Knicks
627  2024-04-28   Knicks
628  2024-04-25   Knicks
629  2024-04-22   Knicks
630  2024-04-20   Knicks

[631 rows x 38 columns]

In [8]:
df.groupby("team")
df.to_csv("all_playoff_games_in_db.csv")