In [5]:

import pandas as pd
from models import GameStats, Player, Game  # Make sure to import your actual model classes
from db_config import get_session, get_database_engine
engine = get_database_engine()
session = get_session()



# SQLAlchemy query
query = session.query(GameStats, Player, Game.date).\
    join(Player, GameStats.player_id == Player.id).\
    join(Game, GameStats.game_id == Game.id).\
    filter(Game.season_type == 'Playoffs')

# Convert the query to a DataFrame
df = pd.read_sql(query.statement, engine)

# Optionally, display the DataFrame
print(df)

# Close the session
session.close()

        id  player_id   game_id  points  assists  rebounds  steals  blocks  \
0    25833         19  42300202      25        6         7       1       0
1    25834         19  42300201      18        5        11       0       3
2    25835         19  42300105      16        3        12       0       1
3    25836         19  42300104      20        5        11       0       0
4    25837         19  42300103      22        6        11       0       1
..     ...        ...       ...     ...      ...       ...     ...     ...
580  26414        223  42300125      13       12         4       2       1
581  26415        223  42300124       9        4         1       1       0
582  26416        223  42300123      11        1         2       0       1
583  26417        223  42300122       5        3         4       1       2
584  26418        223  42300121       5        8         7       2       0

     turnovers  fouls  ...  height  weight  birth_date  age  experience  \
0            1      3  ...     6-8   210.0  1998-03-03   26           6
1            1      3  ...     6-8   210.0  1998-03-03   26           6
2            2      2  ...     6-8   210.0  1998-03-03   26           6
3            1      3  ...     6-8   210.0  1998-03-03   26           6
4            0      3  ...     6-8   210.0  1998-03-03   26           6
..         ...    ...  ...     ...     ...         ...  ...         ...
580          2      3  ...     6-2   180.0  1988-07-12   35          11
581          0      1  ...     6-2   180.0  1988-07-12   35          11
582          2      6  ...     6-2   180.0  1988-07-12   35          11
583          1      2  ...     6-2   180.0  1988-07-12   35          11
584          1      3  ...     6-2   180.0  1988-07-12   35          11

       school  player_id_1                 how_acquired     team_id  \
0        Duke      1628369        #3 Pick in 2017 Draft  1610612738
1        Duke      1628369        #3 Pick in 2017 Draft  1610612738
2        Duke      1628369        #3 Pick in 2017 Draft  1610612738
3        Duke      1628369        #3 Pick in 2017 Draft  1610612738
4        Duke      1628369        #3 Pick in 2017 Draft  1610612738
..        ...          ...                          ...         ...
580  Arkansas       201976  Traded from PHI on 02/08/24  1610612749
581  Arkansas       201976  Traded from PHI on 02/08/24  1610612749
582  Arkansas       201976  Traded from PHI on 02/08/24  1610612749
583  Arkansas       201976  Traded from PHI on 02/08/24  1610612749
584  Arkansas       201976  Traded from PHI on 02/08/24  1610612749

           date
0    2024-05-09
1    2024-05-07
2    2024-05-01
3    2024-04-29
4    2024-04-27
..          ...
580  2024-04-30
581  2024-04-28
582  2024-04-26
583  2024-04-23
584  2024-04-21

[585 rows x 37 columns]

In [6]:
df.to_csv("all_playoff_games_in_db.csv")